@use "variables" as v;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: v.$text-color;
}

h2 {
  font-size: 48px;
  color: v.$title-color;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  .primary {
    font-size: 18px;
    background-color: v.$primary-button-background;
    color: White;
    padding: 6px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
  }
  .secondary-outlined {
    font-size: 18px;
    color: v.$secondary-button-border;
    padding: 6px 30px;
    border-radius: 8px;
    border: 1px solid v.$secondary-button-border;
    cursor: pointer;
  }
}

.header {
  border-bottom: 1px solid v.$header-bottom-border-color;
  background-color: v.$background-yellow-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 64px;
  .nav {
    font-size: 18px;
    ul {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: center;
      gap: 32px;
      li {
        cursor: pointer;
        color: v.$secondary-nav-item;
        &.active {
          color: v.$title-color;
          font-weight: bold;
        }
      }
      .buttons {
        border: 1px solid #000;
        div {
          border-radius: 50px;
        }
      }
    }
  }
}

.section {
  padding: 64px 64px;
  box-sizing: border-box;
}

.hero-section {
  height: 80vh;
  background-image: url("../assets/photos/hero-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .hero-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    max-width: 640px;
    h1 {
      font-size: 56px;
      color: v.$title-color;
    }
    p {
      color: v.$text-color;
    }
    .buttons {
      margin-top: 16px;
    }
  }
}

.flex-two-col {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 180px;
  .left {
    border: 1px solid #000;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
  }
}

.cards {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 32px;
  .card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    filter: v.$drop-shadow;
    background-color: #fff;
    .group {
      text-align: center;
    }
    .title {
      font-size: 24px;
      color: v.$title-color;
    }
    .text {
      text-align: center;
    }
  }
}
