* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #000;
}

.flex {
  display: flex;
}
.flex.center {
  align-items: center;
  justify-content: center;
}
.flex.center-start {
  align-items: center;
  justify-content: flex-start;
}
.flex.start-start {
  align-items: flex-start;
  justify-content: flex-start;
}
.flex.center-spaceb {
  align-items: center;
  justify-content: space-between;
}
.flex.stretch-center {
  align-items: stretch;
  justify-content: center;
}
.flex.column {
  flex-direction: column;
}

h2 {
  font-size: 48px;
  color: #311304;
}

p {
  font-size: 16px;
}

.buttons {
  gap: 16px;
}
.buttons .primary {
  font-size: 18px;
  background-color: #311304;
  color: White;
  padding: 6px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
}
.buttons .secondary-outlined {
  font-size: 18px;
  color: #311304;
  padding: 6px 30px;
  border-radius: 8px;
  border: 1px solid #311304;
  cursor: pointer;
  transition: all 0.2s;
}
.buttons .secondary-outlined:hover {
  background-color: #311304;
  color: white;
}
.buttons .tertiary {
  color: #311304;
  cursor: pointer;
  font-size: 16px;
}

.header {
  border-bottom: 1px solid #311304;
  background-color: #efdbc0;
  padding: 8px 64px;
}
.header .nav {
  font-size: 18px;
}
.header .nav ul {
  list-style: none;
  gap: 32px;
}
.header .nav ul li {
  cursor: pointer;
  color: #7d634f;
}
.header .nav ul li.active {
  color: #311304;
  font-weight: bold;
}
.header .nav ul .buttons div {
  border-radius: 50px;
}

.section {
  padding: 64px 64px;
  box-sizing: border-box;
}

.hero-section {
  height: 80vh;
  background-image: url("../assets/photos/hero-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.hero-section .hero-text {
  flex-direction: column;
  gap: 16px;
  text-align: left;
  max-width: 640px;
}
.hero-section .hero-text h1 {
  font-size: 56px;
  color: #311304;
}
.hero-section .hero-text p {
  color: #000;
}
.hero-section .hero-text .buttons {
  margin-top: 16px;
}

.flex-two-col {
  gap: 180px;
}
.flex-two-col .left {
  gap: 16px;
  flex-direction: column;
  max-width: 600px;
}

.cards {
  gap: 32px;
}
.cards .card {
  gap: 16px;
  flex-direction: column;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  filter: drop-shadow(0px 0px 4px rgba(49, 19, 4, 0.2));
  background-color: #fff;
}
.cards .card .group {
  text-align: center;
}
.cards .card .title {
  font-size: 24px;
  color: #311304;
}
.cards .card .text {
  text-align: center;
}

#transform {
  justify-content: space-around;
  gap: 60px;
  align-items: center;
  justify-content: center;
}
#transform .left {
  gap: 32px;
  flex-direction: column;
  flex-grow: 1;
}

#discover {
  background-color: #efdbc0;
}
#discover .text {
  max-width: 800px;
  text-align: center;
  gap: 16px;
}

#discover {
  gap: 32px;
  border: 1px solid #000;
}
#discover .image-cards-wrapper {
  width: 100%;
  gap: 32px;
}
#discover .image-cards-wrapper .image-card {
  gap: 16px;
}
#discover .image-cards-wrapper .image-card #img-card-product-bag {
  background-image: url("../assets/photos/products-bag-1.png");
}
#discover .image-cards-wrapper .image-card #img-card-tooth-brush {
  background-image: url("../assets/photos/tooth-brushes.png");
}
#discover .image-cards-wrapper .image-card #img-card-fruit-bag {
  background-image: url("../assets/photos/fruit-bag.png");
}
#discover .image-cards-wrapper .image-card .img {
  height: 260px;
  background-size: cover;
}
#discover .image-cards-wrapper .image-card .text {
  text-align: left;
}
#discover .image-cards-wrapper .image-card .text .title h3 {
  font-size: 32px;
}
#discover .image-cards-wrapper .image-card .text .title .description {
  font-size: 16px;
}

#feedback {
  background: linear-gradient(180deg, #efdbc0 63%, #c3d5c5 100%);
}
#feedback .feedback-container {
  gap: 32px;
}
#feedback .feedback-container .feedback-card {
  background: #fff;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 16px;
  gap: 16px;
}
#feedback .feedback-container .feedback-card .text {
  font-size: 16px;
}
#feedback .feedback-container .feedback-card .profile {
  gap: 8px;
}
#feedback .feedback-container .feedback-card .profile .image {
  width: 80px;
}
#feedback .feedback-container .feedback-card .profile .image img {
  width: 100%;
}
#feedback .feedback-container .feedback-card .profile .name {
  font-size: 20px;
  font-weight: 600;
}
#feedback .feedback-container .feedback-card .profile .profession {
  font-size: 16px;
  color: #666666;
}

#subscribe {
  background-color: #c3d5c5;
}
#subscribe .title h2 {
  color: #123620;
}
#subscribe .text-and-buttons {
  align-items: flex-start;
  gap: 16px;
}

#transform .left {
  gap: 32px;
}

#footer {
  background-color: #efdbc0;
  gap: 64px;
}
#footer .group {
  align-items: flex-start;
  justify-content: space-between;
}
#footer .group .vertical .title {
  margin-bottom: 8px;
}
#footer .group .vertical .title h4 {
  color: #311304;
  font-size: 20px;
}
#footer .group .vertical .links ul {
  list-style-type: none;
  margin-left: 8px;
}
#footer .group .vertical .links ul li {
  margin: 8px 0;
  font-size: 16px;
  cursor: pointer;
}
#footer .group .vertical#subscribe-footer {
  gap: 16px;
}
#footer .group .vertical#subscribe-footer .subscribe-form {
  gap: 8px;
}
#footer .group .vertical#subscribe-footer .subscribe-form input,
#footer .group .vertical#subscribe-footer .subscribe-form button {
  background-color: transparent;
  border: 1px #311304 solid;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}
#footer .group .vertical#subscribe-footer .subscribe-form input {
  flex-grow: 1;
}
#footer .group .vertical#subscribe-footer .small {
  font-size: 14px;
}
#footer .group.line {
  width: 100%;
  border-bottom: 1px #311304 solid;
}
#footer .group .left {
  gap: 16px;
}
#footer .group .left a {
  font-size: 16px;
}
#footer .group .right {
  gap: 8px;
}
#footer .group .right .icon {
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */